
.history-container {
    margin: 30px auto;
    max-width: 1100px;
    padding: 10px;

}

.history-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

.history-header h2 {
    font-size: 2rem;
    color: #333;
    margin: 0;
}

.history-header input {
    width: 250px;
    padding: 10px;
    border-radius: 25px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}

.history-header input:focus {
    border-color: #4684c2;
}

.order-item {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 30px;
    border: 1px solid #e1e1e1;
    border-radius: 10px;
    margin-bottom: 20px;
    background-color: #fdfdfd;
    transition: box-shadow 0.3s ease;
}

.order-item:hover {
    box-shadow: 0 6px 18px rgba(0, 0, 0, 0.08);
}

.order-img {
    width: 100px;
    height: 100px;
    background-color: #ddd;
    border-radius: 10px;
    margin-right: 20px;
}

.order-info {
    flex: 2;
}

.order-info p {
    margin: 0;
    color: #555;
    font-size: 1rem;
}

.order-info p strong {
    color: #333;
}

.order-price {
    flex: 1;
    text-align: right;
}

.order-price del {
    color: #999;
    font-size: 0.9rem;
}

.order-price .new-price {
    color: #4684c2;
    font-weight: bold;
    font-size: 1.4rem;
}

.order-total {
    margin-top: 20px;
}

.order-total p {
    font-size: 1.1rem;
    font-weight: bold;
    color: #333;
}

/* Style for "Mua lại" button */
.order-action {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;
}

.btn-readmore {
    border: 1px solid #ddd;
    padding: 8px 20px;
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-readmore:hover {
    background-color: #4684c2;
    color: #fff;
    border-color: #4684c2;
}

.btn-remove-active {
    border: 1px solid #ddd;
    padding: 8px 20px;
    background-color: #fff;
    font-size: 0.9rem;
    font-weight: bold;
    color: #333;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease, border-color 0.3s ease, color 0.3s ease;
}

.btn-remove-active:hover{
    background-color: #e91d0b;
    color: #fff;
    border-color: #4684c2;
}


.pagination{
    display: flex;
    justify-content: flex-end;
    /* gap: 10px; */
    margin-top: 20px;
}
.pagination button {
padding: 5px 10px;
margin: 0 5px;
border: 1px solid #ccc;
background-color: #f9f9f9;
cursor: pointer;
}

.pagination .active {
background-color: #8234e2;
color: white;
font-weight: bold;
}

/* Responsive design */
@media (max-width: 768px) {
    .order-item {
        flex-direction: column;
        text-align: center;
    }

    .order-price,
    .order-action {
        text-align: center;
        margin-top: 20px;
    }
}